# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
http-server/env/
http-server/build/
http-server/develop-eggs/
http-server/dist/
http-server/downloads/
http-server/eggs/
http-server/.eggs/
http-server/lib/
http-server/lib64/
http-server/parts/
http-server/sdist/
http-server/var/
http-server/.installed.cfg
lib/python/dist
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
http-server/pip-log.txt
http-server/pip-delete-this-directory.txt

# Unit test / coverage reports
http-server/htmlcov/
http-server/.tox/
http-server/.coverage
http-server/.coverage.*
http-server/.cache
http-server/nosetests.xml
http-server/coverage.xml
*,cover
http-server/.hypothesis/
http-server/venv/
http-server/.python-version

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
http-server/docs/_build/

# PyBuilder
http-server/target/

#Ipython Notebook
http-server/.ipynb_checkpoints

#IntelliJ project
.idea

# local config file
config.json

# default virtual environment location
vrops_mp_sdk_venv
