# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
images/base-python-adapter/env/
images/base-python-adapter/build/
images/base-python-adapter/develop-eggs/
images/base-python-adapter/dist/
images/base-python-adapter/downloads/
images/base-python-adapter/eggs/
images/base-python-adapter/.eggs/
images/base-python-adapter/lib/
images/base-python-adapter/lib64/
images/base-python-adapter/parts/
images/base-python-adapter/sdist/
images/base-python-adapter/var/
images/base-python-adapter/.installed.cfg
lib/python/dist
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
images/base-python-adapter/pip-log.txt
images/base-python-adapter/pip-delete-this-directory.txt

# Unit test / coverage reports
images/base-python-adapter/htmlcov/
images/base-python-adapter/.tox/
images/base-python-adapter/.coverage
images/base-python-adapter/.coverage.*
images/base-python-adapter/.cache
images/base-python-adapter/nosetests.xml
images/base-python-adapter/coverage.xml
*,cover
images/base-python-adapter/.hypothesis/
images/base-python-adapter/venv/
images/base-python-adapter/.python-version

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
images/base-python-adapter/docs/_build/

# PyBuilder
images/base-python-adapter/target/

#Ipython Notebook
images/base-python-adapter/.ipynb_checkpoints

#IntelliJ project
.idea

# test/build
.tox
build
dist
sdist

# default virtual environment location
vrops_mp_sdk_venv
