include vrealize_operations_integration_sdk/adapter_template/describeSchema.xsd
include vrealize_operations_integration_sdk/adapter_template/traversalSpecsSchema.xsd
include vrealize_operations_integration_sdk/adapter_template/alertDefinitionSchema.xsd
include vrealize_operations_integration_sdk/api/vmware-aria-operations-collector-fwk2.json
include vrealize_operations_integration_sdk/api/integration-sdk-definition-endpoint.json
