apply plugin: 'java'

tasks.register('generateDependencies', Copy) {
    from configurations.runtimeClasspath
    into "$${rootProject.projectDir}/dependencies"
}

jar {
    dependsOn(generateDependencies)
    manifest {
        attributes 'Main-Class': '${package_name}Adapter'
    }
}

dependencies {
}

repositories {
    mavenCentral()
}

